.crambs
    .container
        ul.crambs__list
            li.crambs__item
                a.crambs__link(href="/") Главная
            li.crambs__item
                a.crambs__link(href="/") Новости
