footer#footer.b-footer
    .container
        .footer-col
            .footer-logo
                img(src="img/Logo.svg" alt="Logo")
            .footer-address
                .footer-name
                    img(src="img/pointer.svg" alt="Pointer")
                    span Адрес
                span г. Москва,
                span ул. Василисы Кожиной, д. 1

            .footer-phone
                .footer-name
                    img(src="img/phone.svg" alt="Phone")
                    span Телефон
                a(href="tel: +74957978686 ") +7 (495) 797-86-86

            .footer-soc
                .footer-name
                    span Мы в соцсетях

                ul.socials
                    li
                        a(href="#").insta
                            svg(width='20' height='21' viewbox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                                g(clip-path='url(#clip0)')
                                    path(d='M14.5862 0.445557H5.41381C2.42858 0.445557 0 2.87414 0 5.85936V15.0319C0 18.0169 2.42858 20.4455 5.41381 20.4455H14.5863C17.5714 20.4455 20 18.0169 20 15.0319V5.85936C20 2.87414 17.5714 0.445557 14.5862 0.445557V0.445557ZM9.99998 15.9141C6.98455 15.9141 4.53139 13.461 4.53139 10.4455C4.53139 7.4301 6.98455 4.97695 9.99998 4.97695C13.0154 4.97695 15.4686 7.4301 15.4686 10.4455C15.4686 13.461 13.0154 15.9141 9.99998 15.9141ZM15.5993 6.26662C14.7082 6.26662 13.9834 5.54183 13.9834 4.65072C13.9834 3.75961 14.7082 3.03466 15.5993 3.03466C16.4904 3.03466 17.2154 3.75961 17.2154 4.65072C17.2154 5.54183 16.4904 6.26662 15.5993 6.26662Z' fill='rgba(68, 72, 79, 0.6)')
                                    path(d='M10 6.89722C8.04355 6.89722 6.45166 8.48898 6.45166 10.4456C6.45166 12.4021 8.04355 13.994 10 13.994C11.9567 13.994 13.5484 12.4021 13.5484 10.4456C13.5484 8.48898 11.9567 6.89722 10 6.89722Z' fill='rgba(68, 72, 79, 0.6)')
                                defs
                                    clippath#clip0
                                        rect(width='20' height='20' fill='white' transform='translate(0 0.445557)')

                    li
                        a(href="#").fb
                            svg(width='11' height='22' viewbox='0 0 11 22' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M10.5858 0.449926L7.94737 0.445557C4.98322 0.445557 3.06766 2.47405 3.06766 5.61369V7.99654H0.414863C0.18563 7.99654 0 8.18835 0 8.42496V11.8774C0 12.114 0.185842 12.3056 0.414863 12.3056H3.06766V21.0174C3.06766 21.254 3.25329 21.4456 3.48252 21.4456H6.94366C7.17289 21.4456 7.35852 21.2537 7.35852 21.0174V12.3056H10.4603C10.6895 12.3056 10.8751 12.114 10.8751 11.8774L10.8764 8.42496C10.8764 8.31135 10.8326 8.20256 10.7549 8.12216C10.6772 8.04176 10.5714 7.99654 10.4613 7.99654H7.35852V5.97656C7.35852 5.00568 7.58267 4.51281 8.808 4.51281L10.5853 4.51216C10.8144 4.51216 11 4.32034 11 4.08396V0.878127C11 0.641961 10.8146 0.450363 10.5858 0.449926Z' fill='rgba(68, 72, 79, 0.6)')

                    li
                        a(href="#").ok
                            svg(width='14' height='24' viewbox='0 0 14 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M7.00009 3.92455C8.42431 3.92455 9.58277 5.02694 9.58277 6.38222C9.58277 7.73647 8.42377 8.83885 7.00009 8.83885C5.57695 8.83885 4.41795 7.73647 4.41795 6.38222C4.41741 5.02642 5.57695 3.92455 7.00009 3.92455ZM7.00009 12.3158C10.4404 12.3158 13.2377 9.65448 13.2377 6.38222C13.2377 3.1079 10.4404 0.445557 7.00009 0.445557C3.56029 0.445557 0.761986 3.10841 0.761986 6.38222C0.761986 9.65397 3.56029 12.3158 7.00009 12.3158ZM9.52347 17.1573C10.8065 16.8792 12.0312 16.3965 13.1455 15.7302C13.9999 15.2187 14.2565 14.1451 13.719 13.3325C13.1827 12.5194 12.0555 12.2742 11.2011 12.7847C11.2005 12.7852 11.1994 12.7857 11.1989 12.7857C8.64317 14.3143 5.35431 14.3133 2.80074 12.7857C1.9474 12.2742 0.820205 12.5179 0.282753 13.3299C0.282214 13.331 0.281675 13.3315 0.281136 13.3325C-0.256315 14.1451 -0.000257716 15.2187 0.853627 15.7302C1.96788 16.3965 3.19211 16.8787 4.47509 17.1573L0.987855 20.4762C0.274128 21.1554 0.274667 22.2567 0.988394 22.9359C1.70212 23.6151 2.8595 23.6146 3.57323 22.9354L6.99901 19.6749L10.4269 22.9359C11.1391 23.6146 12.2943 23.6156 13.0075 22.938C13.008 22.9375 13.0085 22.9369 13.0096 22.9359C13.7234 22.2588 13.725 21.16 13.0134 20.4808C13.0123 20.4798 13.0107 20.4783 13.0096 20.4772L9.52347 17.1573Z' fill='rgba(68, 72, 79, 0.6)')

                    li
                        a(href="#").vk
                            svg(width='28' height='17' viewbox='0 0 28 17' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M0.493348 1.50199C1.75815 1.50199 4.45853 1.50199 5.37111 1.50199C5.55789 1.50199 5.72867 1.61466 5.80872 1.78635C6.92943 4.23831 8.29563 6.45419 9.93933 8.40717C10.0781 8.63788 10.425 8.61105 10.5264 8.36425C11.0387 7.10876 11.9886 4.05052 10.1528 1.87756C9.98736 1.68441 10.0567 1.37858 10.2862 1.28201C12.1434 0.504035 13.9632 0.391362 15.735 1.18543C16.1086 1.35176 16.3487 1.72197 16.3487 2.1351L16.765 8.434C16.765 8.71299 17.0212 8.93834 17.2933 8.87932C19.332 8.44473 20.5327 5.37039 21.7228 2.16192C21.8669 1.76489 22.2405 1.50199 22.6621 1.50199H27.1556C27.5238 1.50199 27.8173 1.82927 27.7533 2.19411C27.3317 4.46902 25.0529 7.41995 23.8628 8.84176C23.4519 9.33001 23.4466 10.049 23.8575 10.5426L27.876 15.3553C28.1642 15.6987 27.9187 16.2298 27.4704 16.2298H22.3846C21.9683 16.2298 21.568 16.0528 21.2852 15.7469L17.7309 12.7692C17.5442 12.5653 17.1973 12.4956 17.0212 12.7048C16.5782 13.2413 16.6156 13.9066 16.4074 15.4143C16.3434 15.8864 15.9218 16.2245 15.4468 16.2245H11.9673C11.471 16.2245 10.9853 16.1225 10.537 15.9079C8.54111 14.9582 3.09233 11.5888 0.0237167 2.15119C-0.0776809 1.83464 0.162472 1.50199 0.493348 1.50199Z' fill='rgba(68, 72, 79, 0.6)')
        .footer-col
           .footer-col__name.drop О КОМПАНИ

           ul.footer-col__list
               li
                   a(href="#") История
               li
                   a(href="#") Структура
               li
                   a(href="#") Миссия
               li
                   a(href="#") Корпоративное управление
               li
                   a(href="#") Розничные бренды
               li
                   a(href="#") Дистрибуция

        .footer-col
            .footer-col__name.drop  НОВОСТИ

            ul.footer-col__list
                li
                    a(href="#") Новости/пресс-релизы
                li
                    a(href="#") Медиа-раздел
                li
                    a(href="#") Контакты для СМИ
                li
                    a(href="#") Архив новостей

        .footer-col
            .footer-col__name.drop  ИНВЕСТОРАМ

            ul.footer-col__list
                li
                    a(href="#") Презентации для инвесторов
                li
                    a(href="#") Финансовая отчетность
                li
                    a(href="#") Раскрытие информации
                li
                    a(href="#") Ценные бумаги
                li
                    a(href="#") Сведения об аудите
                li
                    a(href="#") Контакты для инвесторов


        .footer-col
            .footer-col__name.drop  ОТВЕТСТВЕННОСТЬ

            ul.footer-col__list
                li
                    a(href="#") Корпоративная ответственность
                li
                    a(href="#") Этические принципы и политика открытости
                li
                    a(href="#") Социальная ответственность
                li
                    a(href="#") Ответственность работодателя


            .footer-col__name.drop-in  КАРЬЕРА

                ul.footer-col__list
                    li
                        a(href="#") Поддержка молодых талантов
                    li
                        a(href="#") Вакансии

            .footer-col__name.drop-in  КОНТАКТЫ

    .container.copy
        span Copyright © 2019 Аптечная сеть 36,6




