header#header.header
    .container
        nav.header__nav
            ul.header__nav-list
                li.header__nav-item
                    a.header__nav-link(href="#")
                        span Компания
                        img(src="img/menu-arrow.svg" alt="menu-arrow")

                    .level-2
                        ul
                            li
                                a(href="#") История
                            li
                                a(href="#") Структура
                            li
                                a(href="#") Миссия
                            li
                                a(href="#") Корпоративное управление
                            li
                                a(href="#") Розничные бренды
                            li
                                a(href="#") Дистрибуция
                li.header__nav-item
                    a.header__nav-link(href="#")
                        span Новости
                        img(src="img/menu-arrow.svg" alt="menu-arrow")
                    .level-2
                        ul
                            li
                                a(href="#") Новости/пресс-релизы
                            li
                                a(href="#") Медиа-раздел
                            li
                                a(href="#") Контакты для СМИ
                            li
                                a(href="#") Архив новостей
                li.header__nav-item
                    a.header__nav-logo(href="/")
                        img(src="img/Logo.svg" alt="Logo")
                li.header__nav-item
                    a.header__nav-link(href="#")
                        span Инвесторам
                        img(src="img/menu-arrow.svg" alt="menu-arrow")
                    .level-2
                        ul
                            li
                                a(href="#") Презентации для инвесторов
                            li
                                a(href="#") Финансовая отчетность
                            li
                                a(href="#") Раскрытие информации
                            li
                                a(href="#") Ценные бумаги
                            li
                                a(href="#") Сведения об аудите
                            li
                                a(href="#") Контакты для инвесторов
                li.header__nav-item
                    a.header__nav-link(href="#")
                        span Контакты
                        img(src="img/menu-arrow.svg" alt="menu-arrow")
                    .level-2
                        ul
                            li
                                a(href="#") Презентации для инвесторов
                            li
                                a(href="#") Финансовая отчетность
                            li
                                a(href="#") Раскрытие информации
                            li
                                a(href="#") Ценные бумаги
                            li
                                a(href="#") Сведения об аудите
                            li
                                a(href="#") Контакты для инвесторов

                .hamburger.hamburger--collapse
                    .hamburger-box
                        .hamburger-inner
