header#header.header
    .container
        nav.header__nav
            ul.header__nav-list
                li.header__nav-item
                    a.header__nav-link(href="#")
                        span Компания
                        img(src="img/menu-arrow.svg" alt="menu-arrow")
                li.header__nav-item
                    a.header__nav-link(href="#")
                        span Новости
                        img(src="img/menu-arrow.svg" alt="menu-arrow")
                li.header__nav-item
                    a.header__nav-logo(href="/")
                        img(src="img/Logo.svg" alt="Logo")
                li.header__nav-item
                    a.header__nav-link(href="#")
                        span Инвесторам
                        img(src="img/menu-arrow.svg" alt="menu-arrow")
                li.header__nav-item
                    a.header__nav-link(href="#")
                        span Контакты
                        img(src="img/menu-arrow.svg" alt="menu-arrow")

