section.investors.container
    .s-title__wrap.container
        .s-title
            img(src="img/ar-gray.svg" alt="Arrow down")
            span Инвесторам


    .pdf-block
        a(href="#")
            .pdf-block__left
                .pdf-block__left-img
                    img(src="img/pdf-1.png" alt="Image")
                .pdf-block__left-doc-img
                    img(src="img/pdf-big.svg" alt="Image")

            .pdf-block__right
                h3 Годовой отчёт 2018



    .pdf-block
        a(href="#")
            .pdf-block__left
                .pdf-block__left-img
                    img(src="img/pdf-2.jpg" alt="Image")
                .pdf-block__left-doc-img
                    img(src="img/pdf-big.svg" alt="Image")

            .pdf-block__right.xl
                h3 Приложение к годовому отчёту за 2018



.news-block.container.news-block--company.pd
    .content-wrap
        .news-block__left
            span.top 50.6
            span.bottom млрд. руб.

        .news-block__right
            a(href="#")
                p.news-block__descr.block-descr С 2002 года в аптечной сети 36.6 финансовая отчётность о результатах деятельности за год ведётся по Международным Стандартам Бухгалтерского Учёта (IAS); с 2004 года компания предоставляет информацию о результатах деятельности по МСФО по квартально...  <img src="img/arrow-right.svg" alt="Arrow right" />

