section.logos
    .logos-wrapper.container
        .logos-box
            .logo
                a(href="#")
                    img(src="img/partners/logo-1.png" alt="Logo")
            .logo
                a(href="#")
                    img(src="img/partners/logo-2.png" alt="Logo")
            .logo
                a(href="#")
                    img(src="img/partners/logo-3.png" alt="Logo")
            .logo
                a(href="#")
                    img(src="img/partners/logo-4.png" alt="Logo")