.mobile-menu-box
    .mobile-menu
        .category
            .category-name Компания
            .dropdown
                ul
                    li
                        a(href="#") История
                    li
                        a(href="#") Структура
                    li
                        a(href="#") Миссия
                    li
                        a(href="#") Корпоративное управление
                    li
                        a(href="#") Розничные бренды
                    li
                        a(href="#") Дистрибуция

        .category
            .category-name Новости
            .dropdown
                ul
                    li
                        a(href="#") Новости/пресс-релизы
                    li
                        a(href="#") Медиа-раздел
                    li
                        a(href="#") Контакты для СМИ
                    li
                        a(href="#") Архив новостейция

        .category
            .category-name Инвесторам
            .dropdown
                ul
                    li
                        a(href="#") Презентации для инвесторов
                    li
                        a(href="#") Финансовая отчетность
                    li
                        a(href="#") Раскрытие информации
                    li
                        a(href="#") Ценные бумаги
                    li
                        a(href="#") Сведения об аудите
                    li
                        a(href="#") Контакты для инвесторов

        .category
            .category-name Контакты
            .dropdown
                ul
                    li
                        a(href="#") Презентации для инвесторов
                    li
                        a(href="#") Финансовая отчетность
                    li
                        a(href="#") Раскрытие информации
                    li
                        a(href="#") Ценные бумаги
                    li
                        a(href="#") Сведения об аудите
                    li
                        a(href="#") Контакты для инвесторов