section.news
    .s-title__wrap.container
        .s-title
            img(src="img/ar-gray.svg" alt="Arrow down")
            span Новости


    .news-block.container
        .content-wrap
            .news-block__left
                span.top 8218
                span.bottom сотрудников

            .news-block__right
                a(href="#")
                    span.news-date 25.08.2019
                    h2.news-block__title.block-title 36.6 усиливает управленческую команду
                    p.news-block__descr.block-descr 19 июля 2019 г. ПАО «Аптечная сеть «36,6» намерена активно развивать бюджетное направление и работать в области госзакупок, в связи с этим компания усиливает управленческую команду. Андрей Телятников назначен на должность директора по госпитальному направлению ПАО «Аптечная сеть 36,6». <img src="img/arrow-right.svg" alt="Arrow right" />


    .news-block.news-block--accent.container
        .content-wrap
            .news-block__right
                a(href="#")
                    span.news-date 19.08.2019
                    h2.news-block__title.block-title Обзор фармрынка России первой половины 2019 года.
                    p.news-block__descr.block-descr Аптечная сеть 36.6 использует лучшую международную практику в управлении бизнесом, а также придерживается международных стандартов бухгалтерского учёта и современных принципов корпоративного упрвления. Акционерам обеспечены надёжные и эффективные способы учёта прав собственности на акции, а также возможности свободно и быстро осуществлять сделки... <img src="img/hover.svg" alt="Arrow right" />


            .news-block__left
                img(src="img/photo-2.jpg" alt="Photo")


    .news-block.container.news-block--video
        .content-wrap
            .news-block__left
                iframe.news-video(src="https://www.youtube.com/embed/r3fE6FQT82s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

            .news-block__right
                a(href="#")
                    span.news-date 13.06.2019
                    h2.news-block__title.block-title Старт бонусной программы 36,6 с технологиямы платформы ЦФТ
                    p.news-block__descr.block-descr Технологическим партнёром проекта новой бонусной программы выступил Центр Финансовых технологий (ЦФТ), обеспечивая реализацию... <img src="img/arrow-right.svg" alt="Arrow right" />



    .s-title__wrap.container
        .s-title
            img(src="img/ar-gray.svg" alt="Arrow down")
            span Компания

    .news-block.container.news-block--company
        .content-wrap
            .news-block__left
                span.bottom Группа
                span.top 36.6
                span.bottom сегодня

            .news-block__right
                a(href="#")
                    p.news-block__descr.block-descr Сегодня в компании насчитывается более 8200 высококвалифицированных сотрудников, включая команду сильных менеджеров с опытом ... Сегодня в компании насчитывается более 8200 высококвалифицированных сотрудников, включая команду сильных менеджеров с опытом ... Сегодня в компании насчитывается более 8200 высококвалифицированных сотрудников, включая команду сильных менеджеров с опытом ... <img src="img/arrow-right.svg" alt="Arrow right" />
