.page-top
    .container
        .page-top__chevron
            img(src="img/arr-w.svg" alt="Arrow right")
            span MCX: APTK 5,00 RUB +0,0020 (0,040 %)

        .page-top__search
            button.open-search
                img(src="img/ic_search.svg" alt="Search")
            input(type="search" name="search").input-search

        .page-top__langs
            button(type="button").ru.lang-btn.lang-btn--active Ru
            button(type="button").eng.lang-btn Eng