section.s-slider
    .container
        .s-slider__box
            .swiper-container.top-slider
                .swiper-wrapper
                    .swiper-slide.slide-big
                        .slide-big__left
                            h1 Сильнейшая команда
                            a(href="#")
                                span «36.6» намерена активно развивать бюджетное направление ...
                                img(src="img/arrow-right.svg" alt="Arrow right")

                        .slide-big__right
                            .swiper-container.slider-inner
                                .swiper-wrapper
                                    .swiper-slide
                                        img(src="img/photo-1.jpg" alt="Photo")
                                    .swiper-slide
                                        img(src="img/photo-1.jpg" alt="Photo")
                                    .swiper-slide
                                        img(src="img/photo-1.jpg" alt="Photo")
                                    .swiper-slide
                                        img(src="img/photo-1.jpg" alt="Photo")

                                .slider-inner__buttons
                                    .swiper-button-prev.inner-prev
                                    .swiper-button-next.inner-next

                                .swiper-pagination


                    .swiper-slide.slide-big
                        .slide-big__left
                            h1 Сильнейшая команда
                            a(href="#")
                                span «36.6» намерена активно развивать бюджетное направление ...
                                img(src="img/arrow-right.svg" alt="Arrow right")

                        .slide-big__right
                            .swiper-container.slider-inner
                                .swiper-wrapper
                                    .swiper-slide
                                        img(src="img/photo-1.jpg" alt="Photo")
                                    .swiper-slide
                                        img(src="img/photo-1.jpg" alt="Photo")
                                    .swiper-slide
                                        img(src="img/photo-1.jpg" alt="Photo")
                                    .swiper-slide
                                        img(src="img/photo-1.jpg" alt="Photo")

                                .slider-inner__buttons
                                    .swiper-button-prev.inner-prev
                                    .swiper-button-next.inner-next

                                .swiper-pagination


                .swiper-button-prev.big-prev
                .swiper-button-next.big-next





