section.s-slider
    .container
        .s-slider__box
            .swiper-container.top-slider
                .swiper-wrapper
                    .swiper-slide.slide-big
                        .slide-big__left
                            h1 Сильнейшая команда
                            a(href="#")
                                span «36.6» намерена активно развивать бюджетное направление ...
                                img(src="img/arrow-right.svg" alt="Arrow right")

                    .swiper-slide.slide-big
                        .slide-big__left
                            h1 Сильнейшая команда
                            a(href="#")
                                span «36.6» намерена активно развивать бюджетное направление ...
                                img(src="img/arrow-right.svg" alt="Arrow right")


                .swiper-button-prev
                .swiper-button-next





