body
    include ../blocks/_mobile-search
    include ../blocks/_mobile-menu
    include ../blocks/_page-top
    include ../blocks/_header
    main.index-main
        include ../blocks/_slider
        include ../blocks/_news
        include ../blocks/_investors
        include ../blocks/_logos
    include ../blocks/_footer
    script(src='js/scripts.min.js')
